<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../static/css/navBar.css">
    <link rel="stylesheet" href="../static/css/user.css">
    <!-- Boxicons CDN -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <!-- Navigation Bar -->
    <header>
        <input type="checkbox" name="" id="chk1">
        <div class="logo">
            <!-- Add logo here if needed -->
        </div>
        <div class="search-box">
            <form action="">
                <input type="text" name="search" id="search" placeholder="Search">
                <a href="#"><i class='bx bx-search-alt' style='color:#312063'></i></a>
            </form>
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Employees</a></li>
            <li><a href="#">Tickets</a></li>
            <li><a href="#">Status</a></li>
        </ul>
    </header>

    <!-- Card Section -->
    <div class="card-group">
        <div class="card">
            <img src="../images/attachment_88917790.png" alt="Employees">
            <div class="layer"></div>
            <div class="info">
                <h1>Employees</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste est commodi quibusdam perspiciatis...</p>
            </div>
        </div>

        <div class="card">
            <img src="../images/ticket.png" alt="Tickets">
            <div class="layer"></div>
            <div class="info">
                <h1>Tickets</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste est commodi quibusdam perspiciatis...</p>
            </div>
        </div>

        <div class="card">
            <img src="../images/shift.png" alt="Shift">
            <div class="layer"></div>
            <div class="info">
                <h1>Shift</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste est commodi quibusdam perspiciatis...</p>
            </div>
        </div>

        <div class="card">
            <img src="../images/status.png" alt="Status">
            <div class="layer"></div>
            <div class="info">
                <h1>Status</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste est commodi quibusdam perspiciatis...</p>
            </div>
        </div>
    </div>

</body>
</html>
