<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Reset Password</title>
  <link rel="stylesheet" href="{% static 'accounts/css/reset_password.css' %}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-RC2V7..." crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="{% static 'accounts/js/reset.js' %}" defer></script>
</head>
<body>
  <div class="container active">
    <div id="reset-password-div" class="form-box login">
      <form method="POST" action="{% url 'reset_password' token=token %}" id="reset-form">
        {% csrf_token %}
        <h1>Reset Your Password</h1>

        <div class="input-box">
            <input type="password" id="password" name="password" placeholder="Enter password" autocomplete="off">
            <i id="eye-icon" class="fa-solid fa-eye" style="color: #312063; font-size: 20px; cursor: pointer;"></i>         
        </div>
        <div class = "strength-text" id="strength-text"></div>
            

        <div class="input-box">
            <input type="password" id="password1" name="password1" placeholder="Confirm password" autocomplete="off">
            <i id="eye-icon1" class="fa-solid fa-eye" style="color:rgb(0, 0, 0) !important; font-size: 20px; cursor: pointer;"></i>         
        </div>

        <button id="confirm-btn" type="submit" class="btn">
          CONFIRM
        </button>



        <p id="error-message" style="color: red; margin-top: 10px;"></p>
        <div class="strength-text" id="strength-text"></div>


        
      </form>
    </div>
    <div id="success-message" class="form-box success-box" style="display: none;">
      <div class="success-content">
        <i class="fa-solid fa-circle-check"></i>
        <p>Your password has been reset successfully!</p>
        
      </div>
    </div>
    
      
    
    
    <div class="toggle-box">
        <div class="toggle-panel toggle-left">
        </div>
    </div>
  </div>
  <script>
    window.addEventListener('load', () => {
      const success = {{ success|default:"false"|lower }};
      if (success) {
        document.getElementById('reset-password-div').style.display = 'none';
        document.getElementById('success-message').style.display = 'block';
      }
    });
  </script>
  

  
  

</body>
</html>
